.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  height: 50px; /* Set a fixed height for the navbar */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex; /* Display the list items as flex items */
}

nav li {
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

nav li:last-child {
  margin-right: 0; /* Remove right margin for the last item */
}

nav li:hover {
  transform: scale(1.1);
}
